@model SmartRes_Official2019Data.expenses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>expenses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.expense_type.exps_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expense_type.exps_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exps_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exps_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exp_payee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_payee_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exp_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exp_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exp_remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exp_remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.exp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
