@model SmartRes_Official2019Data.StudentCheckIn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Residence.ResName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residence.ResName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RooNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RooNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_In)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckIn_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
