@model SmartRes_Official2019Data.BusShedule



@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-heading border bottom">
                <h4 class="card-title">Transportation Service</h4>
            </div>
            <div class="card-block">
                <div class="mrg-top-40">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>BusSchedule</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.CurrDayofWeek, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CurrDayofWeek, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CurrDayofWeek, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@          @*<div class="form-group">
                                            @Html.LabelFor(m => m.CurrDayofWeek, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-5">
                                                @Html.DropDownListFor(m => m.CurrDayofWeek, new[] {
                                            new SelectListItem (){ Text = "Monday", Value ="Monday"},
                                            new SelectListItem () { Text = "Tuesday", Value ="Tuesday"},
                                            new SelectListItem () { Text = "Wednesday", Value ="Wednesyday"},
                                            new SelectListItem () { Text = "Thursday", Value ="Thursday"},
                                            new SelectListItem () { Text = "Friday", Value ="Friday"},
                                            new SelectListItem () { Text = "Saturday", Value ="Saturday"},


                                            new SelectListItem() { Text = "Sunday", Value = "Sunday" }},


                                            "--Select Day Of Week--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CurrDayofWeek, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@



                                        <div class="form-group">
                                            @Html.LabelFor(model => model.WkdId, "Day Of Week", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-5">
                                                @Html.DropDownList("WkdId", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.WkdId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BusNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.BusNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BusNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TimeODay, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TimeODay, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TimeODay, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Destination, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-5">
                                                @Html.DropDownListFor(m => m.Destination, new[] {
                new SelectListItem (){ Text = "From Res To Campus", Value ="From Res To Campus"},
                new SelectListItem() { Text = "From Campus To Res", Value = "From Campus To Res" }},

                "--Select Destination--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            @*<input type="submit" value="Add" class="btn btn-default" />*@
                                            <button type="submit" class="btn btn-success">
                                                <i class="icon-circle-arrow-right icon-large"></i> Create
                                            </button>
                                        </div>
                                    </div>
                                    </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                            <div>
                                @Html.ActionLink("Back to List", "ScheduleView")
                            </div>
