@model SmartRes_Official2019Data.BusShedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BusSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrDayofWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrDayofWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeODay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeODay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
