@model SmartRes_Official2019Data.PDF

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*<h4>PDF</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.file)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.num }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
