@model SmartRes_Official2019Data.Student_Otp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student_Otp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTP_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTP_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
