@model SmartRes_Official2019Data.MaintenanceRequest

@{
    ViewBag.Title = "AddDescription";
}

<h2>Reason for dissapproval</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLoged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLoged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusQpproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusQpproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomAval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomAval)
        </dd>*@

        <dt>
           <h6> @Html.DisplayNameFor(model => model.Description)</h6>
        </dt>

        <dd>
           <h4>@Html.DisplayFor(model => model.Description) </h4> 
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
