@model IEnumerable<SmartRes_Official2019Data.MaintenanceRequest>

@{
    ViewBag.Title = "Index";
    var msg = TempData["message"] ?? string.Empty;

}


<script>
    var message = '@msg';
    if (message)
        alert(message);
</script>


<h2>Maintenance Request</h2>
@using (Html.BeginForm())
{

    <p  style="text-align:right;">
        Find : @Html.TextBox("SearchString","",new { placeholder = "Search by Date,status, description" })
        <input type="submit" value="Search" />
    </p>

}
<div class="kt-portlet kt-portlet--mobile">
<div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__body">
        <div class="col-xs-12">

            <a href="~/MaintenanceRequests/Create" class="btn btn-brand btn-elevate btn-icon-sm">
                <i class="la la-plus"></i>
                New Record
            </a>
            <a href="~/MaintenanceRequests/ViewAll" class="btn btn-brand btn-elevate btn-icon-sm">
                <i class="la la-plus"></i>
                View All
            </a>

            @if (User.IsInRole("SystemAdmin") || User.IsInRole("SAN") || User.IsInRole("Admin"))
            {

                <a href="~/MaintenanceRequests/CostStats" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    Cost Statistics
                </a>
                <a href="~/MaintenanceSuppliers/Index" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    Suppliers
                </a>
                <a href="~/SupplierRequests/Index" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    Request for supplies
                </a>


            }

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Laundry Price List</h4>

                            <div class="table-overflow">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr class="table-header-row">
                                        <tr>


                                            <th>
                                                @Html.DisplayNameFor(model => model.Image)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.MainIssue)
                                            </th>
                                            @if (User.IsInRole("Employee") || User.IsInRole("System Admin") || User.IsInRole("SAN"))
                                            {
                                                <th>
                                                    @Html.DisplayNameFor(model => model.RoomNumber)
                                                </th>

                                            }
                                            <th>
                                                @Html.DisplayNameFor(model => model.DateLoged)
                                            </th>


                                            @if (User.IsInRole("Employee") || User.IsInRole("System Admin") || User.IsInRole("SAN"))
                                            {

                                                <th>
                                                    @Html.DisplayNameFor(model => model.DateFixed)
                                                </th>
                                            }
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.Image != null)
                                                    {
                                                        var base64 = Convert.ToBase64String(item.Image);
                                                        var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                                                        <img src="@ImgSource" width="200" height="200" />
                                                    }
                                                </td>
                                                @*<td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>*@

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MainIssue)
                                                </td>
                                                @if (User.IsInRole("Employee") || User.IsInRole("SystemAdmnin") || User.IsInRole("SAN"))
                                                {
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RoomNumber)
                                                    </td>

                                                }
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DateLoged)
                                                </td>

                                                @if (User.IsInRole("Employee") || User.IsInRole("SystemAdmnin") || User.IsInRole("SAN"))
                                                {

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DateFixed)
                                                    </td>
                                                }
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>

                                                <td>
                                                    @if (item.Status != "Approved")
                                                    {
                                                        <li class="dropdown">
                                                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Action<span class="caret"></span></a>
                                                            <ul class="dropdown-menu" role="menu">

                                                                @if (User.IsInRole("Student"))
                                                                {
                                                                    if (item.Status == "Done")
                                                                    {
                                                                        <li>  <a href="@Url.Action("Approve", "MaintenanceRequests", new { id = item.MaintenanceId })">Approve</a></li>
                                                                        <li>  <a href="@Url.Action("Dissapprov", "MaintenanceRequests", new { id = item.MaintenanceId })">Dis Approve</a></li>

                                                                    }

                                                                    <li>
                                                                        <a href="@Url.Action("Details","MaintenanceRequests", new { id=item.MaintenanceId })">Details</a>

                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("Edit","MaintenanceRequests", new { id=item.MaintenanceId })">Edit</a>

                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("Delete", "MaintenanceRequests", new { id = item.MaintenanceId })">Delete</a>

                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a href="@Url.Action("Cost", "MaintenanceRequests", new { id = item.MaintenanceId })">Done</a>

                                                                    </li>
                                                                }

                                                            </ul>
                                                        </li>

                                                    }
                                                    else
                                                    {
                                                        <li class="dropdown">
                                                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Action<span class="caret"></span></a>
                                                            <ul class="dropdown-menu" role="menu">
                                                        </li>
                                                    }









                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    </div>




 









