@model IEnumerable<SmartRes_Official2019Data.services>

@{
    ViewBag.Title = "List of Services";



    Layout = "~/Views/Shared/_Layout.cshtml";


}

<hr />
@Html.ActionLink("Add Service", "Create")
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Services</h4>

                <div class="table-overflow">
                    <table class="table table-bordered table-hover table-sm">
                        <thead>
                            <tr class="table-header-row">
                                <th>
                                    @Html.DisplayNameFor(model => model.service_name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.service_code)
                                </th>
                                <th></th>




                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                                <tr>



                                    <td>
                                        @Html.DisplayFor(modelItem => item.service_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.service_code)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details","services", new { id=item.ID })" rel="tooltip" title="View" class="btn btn-info btn-simple btn-xs"><i class="fa fa-eye"> Details</i></a>
                                        <a href="@Url.Action("Edit","services", new { id=item.ID })" rel="tooltip" title="Edit" class="btn btn-success btn-simple btn-xs"><i class="fa fa-edit">Edit</i></a>
                                        <a href="@Url.Action("Delete", "services", new { id = item.ID })" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-times">Delete</i></a>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>


