@model SmartRes_Official2019Data.MaintenanceReservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maintenance Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
