@model IEnumerable<SmartRes_Official2019Data.UniversityEmployee>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("SuperAdmin"))
{
    <h2>Employee Details</h2>
    <p>
        @Html.ActionLink("Create New Employee", "Create")
    </p>
}
else
{
    <h2>My Profile</h2>

}
@using (Html.BeginForm())
{

    <p style="text-align:right;">
        Find : @Html.TextBox("SearchString", "", new { placeholder = "Search by name,type" })
        <input type="submit" value="Search" />
    </p>

}


<div class="kt-portlet">

    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                University Employee
            </h3>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.University.UniversityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpTYpe)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.UserPhoto != null)
                    {
                        var base64 = Convert.ToBase64String(item.UserPhoto);
                        var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                        <img src="@ImgSource" width="100" height="100" />
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.University.UniversityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpTYpe)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpUId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmpUId }) |
                    @if (User.IsInRole("SystemAdmin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmpUId })

                    }
                </td>
            </tr>
        }

    </table>
    </div>
