@model SmartRes_Official2019Data.MaintenanceSuppliers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maintenance Suppliers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier_Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier_Product)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Product_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Cost)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Product_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Quantity)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Supplier_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier_Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
