@model IEnumerable<SmartRes_Official2019Data.employee>

@{
    ViewBag.Title = "Index";
}

<div class="kt-portlet">

    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              Employees
            </h3>

        </div>
    </div>
    @using (Html.BeginForm())
    {

        <p  style="text-align:right;">
            Find : @Html.TextBox("SearchString","",new { placeholder = "Search by name,surname,gender" })
            <input type="submit" value="Search" />
        </p>

    }

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpTYpe)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpTYpe)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmpID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpID })
                </td>
            </tr>
        }

    </table>
    </div>