@model SmartRes_Official2019Data.RoomStudent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RoomStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Assigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Assigned)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RStudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
